# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("Hello World!!")

Hello World!!

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [4]:
print("Hello", 46, True, 3.14, sep='-')

Hello-46-True-3.14

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [9]:
print("Hello", end=' ')
print(46, end=' ')
print(True, end=' ')
print(3.14)

Hello 46 True 3.14

4) Can a python print function take no value to print???

In [11]:
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [30]:
friend_name = "Ahmed"
age = 30
profession = "Lawyer"
education = "Bachelors in Law"
graduation_year = 2005
law_firm = "The Himalya Associates"
work_location = "karachi"
work_start_date = 2015
height_feet = 5.10 #in feets
weight_grams = 70600 #in grams
monthly_income_pkr = 200000 #in PKR
current_year = 2024

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [28]:
years_since_gra = current_year - graduation_year

print("Years since Mr. Ahmed completed his bachelor's degree:", years_since_gra , "Years")

Years since Mr. Ahmed completed his bachelor's degree: 19 Years

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [29]:
years_of_jobs = current_year - work_start_date

print("Mr. Ahmed doing his Job from:", years_of_jobs, "Years")

Mr. Ahmed doing his Job from: 9 Years

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [36]:
exchange_rate = 280  # Exchange rate: 1 USD = 280 PKR

monthly_income_usd = monthly_income_pkr / exchange_rate

print("Mr. Ahmed's monthly income in dollars: $", monthly_income_usd)

Mr. Ahmed's monthly income in dollars: $ 714.2857142857143

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [38]:
exchange_rate = 280  # Exchange rate: 1 USD = 280 PKR

monthly_income_usd = monthly_income_pkr / exchange_rate

print("Mr. Ahmed's monthly income in dollars: $", round(monthly_income_usd,2))

Mr. Ahmed's monthly income in dollars: $ 714.29

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [43]:
weight_kg = weight_grams / 1000

print("Mr. Ahmed weight in kg is :", weight_kg, "Kg")

Mr. Ahmed weight in kg is : 70.6 Kg

In [1]:
#11) print the year of birth of Mr. Ahmed.

In [45]:
#type your code here
year_of_birth = current_year - age

print("Mr. Ahmed's year of birth is:", year_of_birth)

Mr. Ahmed's year of birth is: 1994

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [50]:
10%2
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2

total_amount = 100
no_of_stu = 6

if total_amount % no_of_stu == 0:
    print("Rs. 100 can be divided equally among 6 students.")

else:
    print("Rs. 100 cannot be divided equally among 6 students.")

Rs. 100 cannot be divided equally among 6 students.